p {
    color: #6d6d80;
}

.card {
    height: 16vw;
    width: 23vw;
    background-color: #EDEDF6;
    position: relative;
    margin-bottom: 2vw;
}

.card img {
    height: 10vw;
    width: 22.9vw;
    object-fit: cover;
}

.card:hover {
    filter: saturate(200%);
    transition: 0.5s;
}

.card-body {
    background-color: #CCCCFF;
    position: relative;
} 

.card-body h3 {
    font-size: 150%;
    font-weight: bold;
    color: #31343D;
}

.btn {
    position: absolute;
    right: 2vw;
    bottom: 1.5vw;
}

@media screen and (max-width: 1440px) {
    .card {
        height: 16vw;
        width: 23vw;
        margin-top: 2vw;
    }

    .card img {
        height: 8vw;
        width: 22.9vw;
        object-fit: cover;
    }

    h3.card-text {
        font-size: 140%;
    }

    p.card-text {
        font-size: 92%;
    }
}

@media screen and (max-width:992px) {
    #work h2 {
        padding-left: 0;
    }

    .workContent {
        padding: 0;
        margin: 5vw 7vw 0 -2.1vw;
    }
    
    .card-body {
        padding: 0.5vw;
    }

    h3.card-text {
        font-size: 85%;
        font-weight: bold;
        color: #31343D;
    }

    p.card-text {
        font-size: 65%;
    }
    
    .btn {
        font-size: 60%;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 100%;
        height: 85%;
        margin-bottom: 10vw;
    }

    .card img {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }

    h3.card-text {
        font-size: 125%;
    }

    p.card-text {
        display: none;
    }

    .btn {
        font-size: 100%;
    }
}