#contact h2 {
    color: #20012e;
    font-size: 300%;
    margin: 2vw 0 1vw 0;
    border-right: 5px solid #20012e;
    padding-left: 3.6vw;
}

p {
    color: #6d6d80;
}

#contactRow {
    margin-top: 3vw;
}

 #contactContent ul {
    list-style: none;
    font-size: 125%;
    border-left: 5px solid #20012e;
    margin-bottom: 3.64vw;
    margin-left: -1.51vw;
    padding-bottom: 0.5vw;
    padding-left: 7.8vw;

}

#contactContent a {
    display: block;
    padding: 0.4vw;
    margin: 2.6vw 2.6vw 0.26vw 2.6vw;
    text-decoration: none;
    color: #20012e;
    border-bottom: 5px solid #20012e;
} 