nav {
    background-color: #31343D;
    width: 100%;
}

nav h1 {
    background-color: #CCCCFF;
    color: #31343D;
    font-size: 300%;
    padding: 0.26vw 0.26vw 0.26vw 2.6vw;
    margin: 0.26vw 0 0.52vw 0;
}

nav ul {
    list-style: none;
    font-size: 125%;
    margin-left: 50vw;
}

.nav-link {
    display: block;
    padding: 0.42vw;
    margin: 0.26vw;
    text-decoration: none;
    color: #CCCCFF;
    border-bottom: 5px solid #CCCCFF;
    cursor: pointer;
}

.nav-link:hover {
    color: white;
}

@media screen and (max-width: 1440px) {
    nav ul {
        margin-left: 34vw;
    }
}