p {
    color: #6d6d80;
}

#aboutContent p {
    margin: 2vw 3.9vw 0 2vw;
    padding: 0.52vw 0 0.52vw 2vw;

}

#pic {
    padding-left: 8vw;
    margin-top: 2vw;
}

#profile {
    width: 80%;
    border: 5px solid #CCCCFF;
}

#about h2 {
    color: #20012e;
    align-self: center;
    font-size: 300%;
    margin-top: 2vw;
    border-bottom: 5px solid #20012e;
    padding-left: 2vw;
}

.row {
    justify-content: center;
}