#work h2 {
    color: #20012e;
    font-size: 300%;
    margin: 2vw 0 1vw 0;
    border-right: 5px solid #20012e;
    padding-left: 6.46vw;
}

#workContent {
    border-left: 5px solid #20012e;
    margin: 2vw 4vw 0 -1.03vw;
    padding-bottom: 2vw;
}

#workRow {
    margin-top: 3vw;
    margin-left: 1vw;
}