#work h2 {
    color: #20012e;
    font-size: 300%;
    margin-top: 2vw;
    border-bottom: 5px solid #20012e;
    padding-left: 4vw;
}

#workContent {
    border-left: 5px solid #20012e;
    margin-top: 2vw;
    padding-bottom: 2vw;
}

#workRow {
    margin-top: 3vw;
    margin-left: 4vw;
}