#contact h2 {
    color: #31343D;
    background-color: #CCCCFF;
    font-size: 300%;
    margin: 2vw 0 1vw 0;
    padding-left: 3.6vw;
}

p {
    color: #6d6d80;
}

#contactRow {
    margin-top: 3vw;
    background-color: #31343D;
    width: 100%;
}

 #contactContent ul {
    list-style: none;
    font-size: 125%;
    margin-bottom: 3.64vw;
    margin-left: -1.51vw;
    padding-bottom: 0.5vw;
    padding-left: 7.8vw;

}

#contactContent a {
    display: block;
    padding: 0.4vw;
    margin: 2.6vw 2.6vw 0.26vw 2.6vw;
    text-decoration: none;
    color: white;
    border-bottom: 5px solid #CCCCFF;
} 

@media screen and (max-width: 1440px) {
    #contact h2 {
        padding-left: 1vw;
    }
}